{% extends 'base.html' %}
{% block main_content %}
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>SLED FOUNDATION</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<p style="font-size: medium;">
						Welcome to SLED FOUNDATION, a local not-for-profit organization dedicated to providing support and resources to special learners in our community. 
						
						<br><br>We believe that every individual deserves the opportunity to reach their full potential, 
						regardless of their abilities. <br> <br>Our mission is to create a welcoming and inclusive environment where special learners can thrive and achieve their goals, whiles
						educating the general public against the belief that these kids are abomination and deserve to be outcasts.

<br><br> At SLED FOUNDATION, we are committed to making a positive impact in the lives of special learners and their families. Here are some of the ways we achieve our mission:

<br> <br>- **Support Services**: We offer a range of support services to special learners and their families, including educational resources, counseling, and advocacy.

<br><br>- **Community Outreach**: We work closely with local schools, businesses, and community organizations to raise awareness about special learners and promote inclusion.

<br><br>- **Events and Activities**: We organize a variety of events and activities throughout the year, including workshops, social events, and fundraisers, to bring together special learners and their families.

<br><br>- **Volunteer Opportunities**: We welcome volunteers of all ages and backgrounds to join us in our mission to support special learners. Whether you have a few hours to spare or want to make a long-term commitment, we have opportunities to suit your interests and skills.

<br><br>We are proud to be a part of this community and grateful for the support of our donors, volunteers, and partners. Together, we can make a difference in the lives of special learners and create a more inclusive society.

If you are interested in supporting our organization or getting involved, please contact us at <a href="{% url 'contact' %}">contact section</a>. Thank you for your support!

					<p>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- shop banner -->

	<!-- end shop banner -->


	<!-- end team section -->

	<!-- testimonail-section -->


{% endblock main_content %}