{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>BASE</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/sled_cropped.png' %} ">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %} ">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %} ">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %} ">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %} ">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %} ">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %} ">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %} ">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %} ">

</head>
<body>
	<div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="row">
		{% if messages %}
	   <div class="col-12">
		  {% for message in messages %}
		  {% if message.tags == 'error' %}
		  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
		  {% endif %}
		  {% if message.tags == 'success' %}
		  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
		  {% endif %}
		  {% endfor %}
		</div>
		{% endif %}
	  </div>
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="{% static 'assets/img/sled_n_crop.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li><a href="{% url 'index' %}">News</a></li>
								<li><a href="{% url 'donate' %}">Donate</a></li>
								<!-- <li><a href="news.html">Our Mission</a></li> -->
								
								
								<li>
									<div class="header-icons">
										<!-- <a class="mobile-hide search-bar-icon" href="cart.html"><i class="fab fa-twitter"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fab fa-instagram"></i></a>
										<a class="mobile-hide" href="{% url 'permission' %}"><i class="fas fa-address-book"></i></a> -->
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% block main_content %}

{% endblock main_content %}
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
<p>
	A not-for-profit organization dedicated to making the lives of special children <br> better and eliminating misconceptions about them
</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>Amrahia, Otinibi</li>
						<li>sled@gmail.com</li>
						<li>+233 508 282 137</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'donate' %}">Donate</a></li>
						<li><a href="{% url 'index' %}">News</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="{% url 'newsletter' %}" method="post">
						{% csrf_token %}
						<input type="email" name="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2023 - <a href="https://kryotech.io/">Andy Amponsah</a>,  All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<!-- <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jquery -->
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %} "></script>
<!-- bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
<!-- count down -->
<script src="{% static 'assets/js/jquery.countdown.js' %} "></script>
<!-- isotope -->
<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %} "></script>
<!-- waypoints -->
<script src="{% static 'assets/js/waypoints.js' %} "></script>
<!-- owl carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %} "></script>
<!-- magnific popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %} "></script>
<!-- mean menu -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %} "></script>
<!-- sticker js -->
<script src="{% static 'assets/js/sticker.js' %} "></script>
<!-- form validation js -->
<script src="{% static 'assets/js/form-validate.js' %} "></script>
<!-- main js -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

<script src="{% static 'assets/js/main.js' %} "></script>
{% block custom_js %}

{% endblock custom_js %}

</body>
</html>