{% extends 'base.html' %}
{% load static %}
{% block main_content %}

	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Make a Child Smile</p>
						<h1>Sponsor Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>Do you want to Sponsor a child?</h2>
                        <p style="font-size: medium;">Did you know, with as little as 1$ you can make a difference in the life of a child. They need your help to 
                            keep them going. Please connect with us now and we will get back to you as soon as possible.
                        </p>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form method="post" id="fruitkha-contact" action="{% url 'donate_m' %}">
							{% csrf_token %}
							<p>
								<input type="text" required placeholder="Name" name="name" id="name">
								<input type="email"required placeholder="Email" name="email" id="email">
							</p>
							<p>
								<input type="tel" required="Phone"placeholder="Phone" name="phone" id="phone">
								<input type="text" disabled placeholder="#Donate" value="#Donate" name="subject" id="subject">
							</p>
							<p><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea></p>
							<p><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i>Our Address</h4>
							<p>Amrahia Otinibi <br> Adentan, East. <br> Ghana</p>
						</div>
						
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contact</h4>
							<p>Phone: +233 50 828 2137 <br> Email: sled@gmail.com</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->

	<!-- find our location -->
	

	<!-- end footer -->
	{% endblock main_content %}